input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

main {
    margin-top: 4.6rem;
}

#versionLabel:hover {
    cursor: pointer;
}

#developerCredits {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}