<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/home">
        <img src="https://i.postimg.cc/FR008MVN/449446649-887808460029357-4601148043648305988-n-2-removebg-preview.png" height="24">
        Noe Tours
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
        <a class="nav-link active" href="/home">Inicio</a>
        <a class="nav-link active" href="{% url 'customers' %}">Clientes</a>
        </div>
    </div>
    </div>
</nav>